*{
	margin:0;
	padding:0;
}
#container{
	max-width: 1000px;
	margin:0 auto;
	background-color: #649eff;
}
.row, footer{
	clear:both;
	margin: 1em 0;
}
header{
	float:left;


}
nav{
	float:right;
	width:100%;
}
nav li{
	display:inline-block;
	margin-right:1em;

}
nav li:last-child{
	margin-right:0;
}
body{
	background-color: #649eff;
	background-image: url("BowerBirdNestcopy.jpg") max-width:100%;
}
.col{
	float:left;
	margin-right:4%;
	width:48%;
	position: relative;
	margin-bottom:4%;
}
.col:last-child{
	margin-right:0;
}
.responsive-img{
	width:100%;
}
.caption{
	background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
	position: absolute;
	bottom:4px;
	width:100%;
}
.caption li{

}
.mycarousel{
background-color: #649eff;	
width: 200px; height:200px;
margin:0 auto;
}
div{
		  background-image:url("Mmp-460/BowerBirdNestcopy.jpg");
	   background-size: 80px 60px;
}

ul {
    background-color: #92bbff;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    width:100%;


}

p {
	font-size: 25px;
}
li{
	float:left;

}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif, 20px;

}
h1{
	font-family: 'Nanami', sans-serif;

}
@font-face{
	font-family: 'Nanami', sans-serif;
	src:url local('nanami');
}
#logo {
  height: 100px;
  vertical-align: middle;
}
